@model IEnumerable<Phoenix_Tracing.Models.Periodic_request>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="details">
            <div class="container2">

                <details class="akerdion" style="margin-top:15px;">
                    <summary>
                        <input type="radio" name="periodik_request_id" value="@item.request_id" />
                        <div class="text-over">
                            @item.name
                        </div>
                        <h3> @item.statusName </h3>
                    </summary>
        
                    <div class="leftSide">
                        <div class="deepDetail"> İsim </div>
                        <p class="deepDetail2">@Session["UserName"]</p>
                        <div class="deepDetail"> Soyisim </div>
                        <p class="deepDetail2"> @Session["UserSurname"] </p>
                        <div class="deepDetail"> E-mail </div>
                        <p class="deepDetail2"> @Session["mail"] </p>
                        <div class="deepDetail"> Adres </div>
                        <p class="deepDetail2">
                            @item.addressName
                        </p>
                        <div class="deepDetail"> Telefon Numarası </div>
                        <p class="deepDetail2"> @item.addressPhone </p>
                        <div class="deepDetail"> Tarih </div>
                        @*<p class="deepDetail2"> @item.date </p>*@
                        <p class="deepDetail2"> İlk bakım tarihi: @item.date.ToString() </p>
                    </div>
        
                    <div class="rightSide">
                        <div class="deepDetail"> Konu </div>
                        <p class="deepDetail2">@item.name </p>
                        <div class="deepDetail"> İş Tipi </div>
                        <p class="deepDetail2"> @item.typeName</p>
                        <div class="deepDetail"> Periyod </div>
                        <p class="deepDetail2"> Periyod süresi: @item.period.ToString()  </p>
                        <p class="deepDetail2"> Sonraki bakım tarihi: @item.afterDate.ToString() </p>
                        <div class="deepDetail"> Mesaj </div>
                        <p class="deepDetail2">
                            @item.detail
                        </p>
        
                    </div>
                </details>

            </div>
        </div>

    }
}