@model IEnumerable<Phoenix_Tracing.Models.Periodic_request>
@if (Model != null)
{
    <div class="boxes">
        <div class="boxes2 box">
            <div class="title">Bayi Kayıt Taleplerim</div>
            <div class="details">
                <ul class="details2 text-over">
                    <li class="topic">Periodik İş Konusu</li>
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.name</a></li>
                    }
                </ul>
                <ul class="details2 text-over">
                    <li class="topic">Periodik İşin Detayı</li>
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.detail</a></li>
                    }
                </ul>
                <ul class="details2 text-over">
                    <li class="topic">Konum</li>
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.addressName</a></li>
                    }
                </ul>
                <ul class="details2 text-over">
                    <li class="topic">Periyod Süresi</li>
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.period</a></li>
                    }
                </ul>
                <ul class="details2 text-over">
                    <li class="topic">Periyodik İşin Türü</li>
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.typeName</a></li>
                    }
                </ul>
                <ul class="details2 text-over">
                    <li class="topic">Periodik İşin Durumu</li>
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.statusName</a></li>
                    }
                </ul>                
            </div>
            <div class="button">
                <a href="~/PeriodicRequestList/Index">Tamamını Görüntüle</a>
            </div>
            <div class="button">
                <a href="~/PeriodicRequests/Index">Bayi Kayıt Talebinde Bulun</a>
            </div>
        </div>
    </div>

}